---
layout: default
title: Home
---

<div class="home">

  <section id="hero">
    <div class="hero-grid">
      <!--<div id="hero-image">Image</div>-->
      <img src="assets/images/me.jpg" alt="Handsome Gentleman" id="hero-image">
      <h4 id="hero-hook">Hi, im <u>Matthew</u></h4>
      <!--<div id="hero-hook">Hi, i'm <u>Matthew</u></div>-->
      <h2 id="hero-description">A passionate developer who loves turning ideas into clean, functional, and visually appealing solutions. From crafting responsive websites to building interactive applications, I thrive on solving problems through code. My portfolio showcases a variety of projects — each a reflection of my dedication to learning, experimenting, and delivering high-quality work. Explore my projects below, and let’s connect to bring your next idea to life.</h2>
      <!--<div id="hero-description">Description</div>-->
    </div>
  </section>

  <section id="projects">
    <h1> My Projects</h1>
    <div class="project-flexbox">
      {% for project in site.projects %}
      <a href="{{project.link | default:'/#'}}" target="_blank">
        <div class="project-card">
          <img src="{{project.thumbnail | default:'/assets/images/default_project.jpg'}}">
          <div class="project-card-content">
            <h2>{{ project.title }}</h2>
            <p>{{ project.description }}</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </section>

  <section id="contact">
    <container>
      <h1>Contact Me</h1>
      {%include contact_me.html %}
    </container>
  </section>
</div>