

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin-left: 2%;
  margin-right:2%;
  padding: 0;
  line-height: 1.6;
  background: #ffffffff;
  color: #333;
}

header {
  background: white;
  color: black;
}
nav{
  display:flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
nav h1{
  flex-grow:1;
}
nav a{
  flex-grow:3;
  justify-content: flex-end;
  text-decoration: none;
}
a:hover{
  color:red;
}
a::file-selector-button
.Hero-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact_link{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer{
  display:flex;
  justify-content: center;
  margin-top:2%
}
h1{
  text-align: center;
}
/*Change width to relative unit*/
#contact img{
  width: 100px;
}
#portrait{
  width:600px;
  border-radius:30px;
}