

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin-left: 2%;
  margin-right:2%;
  padding: 0;
  line-height: 1.6;
  background: #ffffffff;
  color: #333;
}

header {
  background: white;
  color: black;
}
/* Text decoration none is NOT removing the underline for some reason */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact img{
  width:40px;
  height:40px;
}

/*
a{
  text-decoration: none;
}

nav a {
  color: white;
  text-decoration: none;
}

section h1 {
  align-items:center;
}

main {
  padding: 2rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #eee;
  font-size: 0.9rem;
}
section{
  text-align:center;
}
.column{
  float:left;
  width:50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.home {
  
}

.mygrid{
  column-count: 3;
  column-gap: 10px;

}
*/
#portrait{
  width:75%;
  height:75%;
  border-radius:30px;
}